[Desktop Entry]
Version=1.0
Type=Application
Name=FamilyPDF LaunchPad
Comment=Launch PDF applications
Exec=Pdf4QtLaunchPad %f
Icon=io.github.JakubMelka.Pdf4qt
Terminal=false
Categories=Office;
MimeType=application/pdf;
